.header {
  height: 100vh;
  min-height: 600px;
  &--home-img, &--castles-img {
    background-image: url('../../images/europe2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--castles-img {
    background-image: url('../../images/usa2.jpg');
    height: 60vh;
    min-height: 500px;
  }


}