.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  &__link {
    font-family: $font-default;
    color: $color-white;
    text-decoration: none;
    text-align: center;
  }
}