.main-nav {
  min-height: 10vh;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #000;
  display: flex;
  flex-wrap: wrap;
  @include position($type: fixed, $top: 0, $left: 0, $right: 0);
  z-index: 100;

  &__logo {
    flex-basis: 50%;
  }

  &__btn {
    flex-basis: 50%;
    background: none;
    border: none;
    outline: none;
  }

  &__icon {
    color: $color-white;
    cursor: pointer;
    font-size: 25px;
  }

  &__menu {
    list-style: none;
    display: none;
    flex-direction: column;
    flex-basis: 100%;
    align-items: center;
    &--open {
      display: flex;
      border-top: 1px solid $color-white;
    }
  }

  &__item {
    padding: 20px;
  }

  &__link {
    text-decoration: none;
    color: $color-white;
    font-family: $font-default;
    &.active {
      border-bottom: 1px solid $color-white;
    }
  }

  
}