.section {
  padding: 35px;
  background-color: #000;
  &--light {
    background-color: $color-white;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    @include media-q(small){
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;
      padding: 20px 0;
    }
  }

  &__item {
    color: $color-white;
    padding: 20px;
    font-family: $font-default;
    @include media-q(small){
      flex-basis: 30%;
    }
  }

  &__item-title {
    padding: 5px;
    font-size: 18px;
  }

  &__icon {
    font-size: 24px;
  }

  &__text {
    text-align: justify;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    width: 90%;
    min-height: 800px;
    margin: 0 auto;
    @include media-q(small){
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;
      min-height: 650px;
    }
    @include media-q(small){
      min-height: 300px;
    }
  }
}

.castle-section {
  @include media-q(small){
    display: flex;
    flex-direction: column;
    margin: 15px 25px;
  }

  &__gallery {
    @include media-q(small){
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-around;
    }
  }

  &__images {
    position: relative;
    height: 30vh;
    margin: 40px;
    @include media-q(small){
      flex-basis: 40%;
      margin: 15px;
    }

    @include media-q(large){
      flex-basis: 20%;
    }
  }
  
  &__image {
    width: 100%;
    height: 100%;
    @include position($top: 0, $left: 0);
    object-fit: cover;
  }

  &__text-container {
    @include media-q(small){
      display: flex;
      flex-wrap: wrap;
    }
    @include media-q(medium){
      justify-content: space-around;
    }
  }

  &__description {
    @include media-q(small){
      flex-basis: 100%;
    }
  }

  &__info, &__extras {
    @include media-q(small){
      flex-basis: 50%;
    }
  }

  &__description, &__info, &__extras {
    padding: 20px;
    font-family: $font-default;
    @include media-q(medium){
      flex-basis: 30%;
    }
  }

  &__title {
    font-size: 18px;
    padding-bottom: 10px;
  }

  &__text {
    line-height: 140%;
    text-align: justify;
  }

  &__subtitle {
    font-size: 15px;
    line-height: 150%;
  }

  &__list {
    list-style: none;
  }

  &__item {
    font-size: 15px;
  }

}

.castles-section {
  padding: 15px;

  &__list {
    width: 90%;
    margin: 0 auto;
    @include media-q(small){
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;
    }
  }

  &__form {
    padding: 15px 0;
    @include media-q(small){
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
    }

    @include media-q(large){
      flex-wrap: nowrap;
    }
  }

  &__container {
    padding: 10px 0;
    @include media-q(small){
      flex-basis: 40%;
    }
    @include media-q(large){
      flex-basis: 20%;
    }
  }

  &__label {
    font-family: $font-default;
  }

  &__select, &__input-range, &__input-number {
    display: block;
    margin: 5px 0;
    padding: 5px;
    width: 75%;
  }

  &__input-range {
    cursor: pointer;
    appearance: none;
    outline: none;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    &::-webkit-slider-thumb {
      appearance: none;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #4CAF50;
    }
    &::-moz-range-thumb {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #4CAF50;
    }
  }

  &__checkbox {
    margin-right: 25px;
    cursor:pointer;
  }

}