* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$breakpoints: (
  small: (min-width: 640px),
  medium: (min-width: 991px),
  large: (min-width: 1200px)
);

body {
  max-width: 1600px; 
  margin: 0 auto;
}